* {
    margin: 0;
    padding: 0;
}

:root {
    --blue_div: #E9F4FF;
    --white_color: #F5F5F5;
    --footer_color: #03071B;
    --white: #FFFFFF;
    --blue_button: #4361EE;
    --main_font: 'Nunito Sans', sans-serif;
    --underlign_color: #4361EE;
    --input_color: #e2e7ed80;
    --padding_norm: 135px;
}

body {

    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    text-underline-offset: 1em;
    line-height: 2, 5em;

}

.blue_div {
    background-color: var(--blue_div);
}

.underlign_title {
    text-decoration: underline;
    text-decoration-color: var(--underlign_color);
}


footer {
    background-color: var(--footer_color);
    color: var(--white);
}

#img_head_2 {
    display: flex;
}

header {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: var(--padding_norm);
    padding-right: var(--padding_norm);
}

button {
    border-radius: 10px;
    font-family: var(--main_font);
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--blue_button);
    color: var(--white);
    border: none;
}

button:hover {

    border: 2px solid rgb(0, 0, 0);
}

h2 {
    font-size: 48px;
    font-family: var(--main_font);
    font-weight: 700;
}

main #section_1 {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: var(--padding_norm);
    padding-right: var(--padding_norm);
}

#section_1 button {

    margin-top: 20px;
}

#section_1 img {
    border-radius: 10px;
    position: relative;
    top: 80px;
}

#section_1 h2 {
    margin-top: 30%;
    font-size: 54px;
}


main #section_2 {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section_2 h2 {
    font-family: var(--main_font);
}


#section_2 #Italic_1 {
    margin-top: 2%;
    line-height: 2em;
    font-family: var(--main_font);
    font-size: 20px;
    text-align: center;
    padding: 0px 140px;
}

#section_2 #Elevate_Your_Brand {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5%;
}

#Elevate_Your_Brand #img_Elevate_Your_B {
    margin-left: 10%;
    margin-right: 3%;
}

#section_2 #Elevate_Your_Brand div img {
    border-radius: 40% 60% 51% 49%;
    border: solid 4px #E9F4FF;
}

#Elevate_Your_Brand #paragraph_Elevate_Your_B {
    margin: 5%;
    line-height: 2em;
    font-size: 20px;
    font-family: var(--main_font);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}


#section_3 {
    display: flex;
    flex-direction: column;
}

#section_3 div {
    margin: 2%;
}

#section_3 h2 {
    align-self: center;
}

#section_3 #grid_set_upper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5%;
    margin: 5%;
    color: var(--white);
    font-size: 20px;
}

#section_3 #grid_set_upper img {
    border-radius: 5px;
    background: #FFFFFF;
    margin-right: 10px;
    margin-left: 5px;
}

#section_3 button {
    align-self: center;
    margin-bottom: 5%;
}

#grid_1 {
    border-radius: 8px;
    height: 320px;
    width: 270px;
    background-image: url(images/3_Our_Services/Rectangle\ 1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
}

#grid_2 {
    border-radius: 8px;
    height: 320px;
    width: 270px;
    background-image: url(images/3_Our_Services/Rectangle\ 2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
}

#grid_3 {
    border-radius: 8px;
    height: 320px;
    width: 270px;
    background-image: url(images/3_Our_Services/Rectangle\ 3.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
}

#grid_4 {
    border-radius: 8px;
    height: 320px;
    width: 270px;
    background-image: url(images/3_Our_Services/Rectangle\ 4.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
}

#grid_5 {
    border-radius: 8px;
    height: 320px;
    width: 270px;
    background-image: url(images/3_Our_Services/Rectangle\ 5.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
}

#grid_6 {
    border-radius: 8px;
    height: 320px;
    width: 270px;
    background-image: url(images/3_Our_Services/Rectangle\ 6.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
}

#grid_7 {
    border-radius: 8px;
    height: 320px;
    width: 270px;
    background-image: url(images/3_Our_Services/Rectangle\ 7.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
}

#grid_8 {
    border-radius: 8px;
    height: 320px;
    width: 270px;
    background-image: url(images/3_Our_Services/Rectangle\ 8.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
}

.grid_windows {
    display: flex;
    flex-direction: row;
    align-items: first center;
    font-family: var(--main_font);
}

#section_3 p {
    font-family: var(--main_font);
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 25px;
    font-size: 16px;
}

#section_4 {
    margin-top: 7%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#section_4 div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-right: 5%;
}

#carousel {
    border-radius: 6px;
    background-color: #F4F6FE;
}

#section_4 div div img {
    border-radius: 40% 60% 51% 49%;
    border: solid 4px #B4D5F6;
    transform: translateX(-40px);
}

#quote {
    position: relative;
    bottom: 100px;
    left: 30px;
}

#carousel div {
    margin-right: 0;
}

#section_4 p {
    font-family: var(--main_font);
    font-size: 20px;
}

#special_title {
    margin-top: 10%;
    margin-bottom: 5%;
    text-align: center;
}

#section_5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2%;
}

#section_5 #contact_us_right+#form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5%;
}

#section_5 #form {
    margin-right: 5%;
    padding: 3%;
    border-radius: 7px;
    font-family: var(--main_font);
    background-color: var(--white);
    line-height: 2em;
    position: relative;
    top: 70px;
    box-shadow: 1px 4px 1px 1px rgba(34, 34, 35, 0.1);
}

#section_5 #form input {
    width: 100%;
    margin-bottom: 60px;
    border-radius: 2px;
    border-style: none;
    border: solid var(--input_color) 0.1px;
    font-weight: 300;
    font-size: 16px;
    padding: 2%;
}

#section_5 form {
    width: 570px;
    height: 564px;
}

#contact_us_right {
    margin-left: 8%;
    margin-right: 20%;
}

.contact_infos {
    font-family: var(--main_font);
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10%;
}

.contact_infos p {
    font-size: 18px;
}

#section_5 h6 {
    font-family: var(--main_font);
    font-size: 20px;
}

#section_5 img {
    background-color: var(--white);
    padding: 5px;
    border-radius: 5px;
}

#title_6 {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 5%;
}


#section_6 {
    padding: 5%;
    display: flex;
    flex-direction: column;
}

#section_6 img {
    width: 100%;
}

#under_class {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card_section_6 {
    border-radius: 4px;
    width: 100%;
    overflow: hidden;
}

.desciption_section_6 {
    padding: 5%;
    font-family: var(--main_font);
    font-size: 24px;
    transform: translateY(-5px);
    background-color: var(--blue_div);
    border-radius: 0% 0% 5% 5%;
}

.desciption_section_6 button {
    font-size: 16px;
    color: var(--blue_button);
    margin-top: 5%;
    background-color: var(--blue_div);
}

#view_all {
    margin-top: 30px;
    align-self: center;
    padding: 16px, 34px;
}

#footer_block {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 100px;
    padding-left: 135px;
    padding-right: 135px;
}

#footer_contact {

    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer h3 {


    color: var(--white_color);
    font-family: var(--main_font);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.paragraph_footer_contact {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

footer p {

    color: var(--white_color);
    font-family: var(--main_font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#copyright {
    text-align: center;
}

#footer_explore {

    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}

#footer_explore {

    color: var(--white_color);
    font-family: var(--main_font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#footer_form {

    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    top: 31px;
}

footer form {

    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer form input {

    background-color: rgba(34, 34, 35, 0);
    color: var(--white_color);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(169, 169, 169, 0.3);
    box-shadow: none;
}

footer form button {

    width: 41%;
    height: 50px;
    font-size: 15px;
    padding: 10px;

}

footer form p {
    font-weight: 200;
    font-size: 15px;
}

@media screen and (max-width: 700px) {

    header {

        padding-left: 20px;
        padding-right: 20px;
    }

    main #section_1 {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    main #section_1 img {

        margin-right: 25px;
        margin-left: 25px;
        height: 450px
    }

    #text_section_1 {

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main #section_1 h2 {

        text-align: center;
        font-size: 30px;
    }

    main #section_2 {

        margin-top: 150px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    #section_2 h2 {

        text-align: center;
    }

    #Elevate_Your_Brand {

        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}